.gantt-container {
  height: 800px;
  display: flex;
  overflow: hidden;
}
.gantt-container .gantt-table .header,
.gantt-container .gantt-chart .header {
  position: sticky;
  height: 60px;
  border-bottom: 1px solid #808080;
  background-color: #fff;
  top: 0;
  font-size: 0;
  background-color: #f9fafb;
}
.gantt-container .gantt-table .body,
.gantt-container .gantt-chart .body {
  height: 900px;
  font-size: 0;
}
.gantt-container .gantt-table {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 1px solid #808080;
}
.gantt-container .gantt-table .header {
  z-index: 3;
  margin-right: 10px;
  font-size: 16px;
}
.gantt-container .gantt-table .body .resize {
  position: sticky;
  top: 0;
  height: 900px;
  min-width: 200px;
  max-width: 900px;
  overflow: scroll;
  opacity: 0;
  resize: horizontal;
}
.gantt-container .gantt-table .body .real-content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  margin: 60px 10px 0 0;
  z-index: 2;
}
.gantt-container .gantt-table .body .real-content::-webkit-scrollbar {
  width: 0!important;
}
.gantt-container .gantt-table::-webkit-scrollbar {
  width: 0;
}
.gantt-container .gantt-chart {
  position: relative;
  overflow-x: scroll;
  width: 0;
  flex: 1;
}
.gantt-container .gantt-chart .modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 5px 3px #ccc;
}
.gantt-container .gantt-chart .modal .key {
  display: inline-block;
  width: 100px;
}
.gantt-container .gantt-chart .show {
  display: block;
}
.gantt-container .gantt-chart .hide {
  display: none;
}
.resize::-webkit-scrollbar {
  width: 10px;
  height: inherit;
}
table {
  text-align: center;
  border-spacing: 0;
}
table thead tr {
  height: 60px;
  line-height: 40px;
}
table tbody tr {
  height: 40px;
  line-height: 40px;
  transition: all 0.2s;
  font-size: 14px;
  cursor: pointer;
}
table tbody tr:hover {
  background-color: #f9fafb;
}
table tbody tr td {
  border-bottom: 1px solid #eee;
}
table tbody tr .sub {
  background-color: #eee;
  font-size: 13px;
  transform: translateX(20px);
}
.bar {
  transition: all 0.2s;
}
.bar:hover {
  opacity: 0.8;
}
