// 变量定义
@headHeight: 90px; // 头部整体高度
@lineHeight: 43px; // 行高
@squareWidth: 40px; // 格子宽度

// 布局
.gantt-container {
  height: 700px;
  display: flex;
  overflow: hidden;
  .gantt-table, .gantt-chart {
    .header {
      position: sticky;
      height: @headHeight;
      border-bottom: 1px solid #808080;
      background-color: #fff;
      top: 0;
      font-size: 0; // 去除svg间隙
      background-color: #f9fafb;
    }
    .body {
      height: 900px;
      font-size: 0;
    }
  }
  .gantt-table {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid #808080;
    .header {
      z-index: 3;
      font-size: 16px;
    }
  }
  .gantt-table::-webkit-scrollbar {
    width: 0;
  }
  .gantt-chart {
    position: relative;
    overflow-x: scroll;
    width: 0;
    flex: 1;
    .modal {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
      line-height: 24px;
      background-color: #fff;
      padding: 20px 30px;
      box-shadow: 0 0 5px 3px #ccc;
      .key {
        display: inline-block;
        width: 100px;
      }
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
  }
}

// 表格
table {
  text-align: center;
  border-spacing: 0;
  thead tr {
    height: @headHeight;
    line-height: @lineHeight;
  }
  tbody tr {
    line-height: @lineHeight;
    transition: all 0.2s;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: #f9fafb;
    }
    .sub {
      background-color: #eee;
      font-size: 13px;
      transform: translateX(20px);
    }
  }
}

// 创建按钮
.create-icon {
  font-size: 20px;
  font-weight: 800;
  color: #aaa;
  cursor: pointer;
  &:hover {
    color: #1e80ff;
  }
}

// 进度条
.bar {
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
  }
}